html {
  box-sizing: border-box;
}

*, *after, *:before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(241, 158, 80);
  color: white;
}

blockquote {
  margin: 0;  
  font-family: 'Satisfy', cursive;
}

p {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

a:visited {
  color: white;
}

button {
  border: none;
  color: white;
}
